body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#button{
    text-align: center;
    margin-top: 50px;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}

.flex{
    display: flex;
    margin-top: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
#img-size{
    width: 60%;
    
}
#images-sizes1{
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
}
.back-ground{
    background-image: url(images/shapes/Frame\ 57.jpg);
    
}
.margin{
    margin-top: 250px;
}
.center{
    text-align: center;
}
.images-sizes2{
    width: 90%;
    border-radius: 20px;
    margin-top: 5%;
}
.food-box{
    box-shadow: 10px 10px 40px grey;
    width: 33%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-bottom: 7px;
    border-radius: 20px;
}
.bottom-box{
    box-shadow: 10px 10px 20px grey;
    width: 90%;
    margin: 5%;
    padding: 30px;
    padding-bottom: 7px;
    border-radius: 20px;

}
#bottom-box-align{
    margin-left: 300px;
}
footer{
    background-color: black;
    height: 250px;
    padding:30px;
    text-align: center;
    color: white;
}
